<!-- app/views/tweets/_form.html.erb -->
<%= form_with model: tweet, remote: true, html: { multipart: true } do |form| %>
  <div class="mb-3">
    <%= form.label :content, "Content" %>
    <%= form.text_area :content, placeholder: "What's happening?", required: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :image, "Image" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :video, "Video" %>
    <%= form.file_field :video, class: "form-control" %>
  </div>
  <%= form.submit "Tweet", class: "btn btn-primary" %>
<% end %>
