<!-- app/views/tweets/_tweet.html.erb -->
<% if tweet.persisted? %>
  <div class="tweet">
    <p><%= tweet.content %></p>
    <% if tweet.image.attached? %>
      <%= image_tag tweet.image %>
    <% end %>
    <% if tweet.video.attached? %>
      <%= video_tag tweet.video %>
    <% end %>
    <span class="author"><%= tweet.user&.email || 'Unknown user' %></span>
    <% if tweet.user == current_user %>
      <%= link_to "Edit", edit_tweet_path(tweet), class: "edit_tweet btn btn-sm btn-primary" %>
      <%= link_to "Delete", tweet_path(tweet), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% else %>
  <div class="tweet-form">
    <%= form_with model: tweet, remote: true, html: { multipart: true } do |form| %>
      <%= form.text_area :content, placeholder: "What's happening?", required: true, class: "form-control" %>
      <%= form.file_field :image, class: "form-control mt-2" %>
      <%= form.file_field :video, class: "form-control mt-2" %>
      <%= form.submit "Tweet", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
<% end %>
